<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>主页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 公共 css -->
    <link th:include="common/common_css"/>
</head>

<body>
<!-- preloader area start -->
<!--<div id="preloader">-->
<!--    <div class="loader"></div>-->
<!--</div>-->
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <div th:include="layout/sidebar"></div>
    <div th:include="layout/topMenu"></div>

    <!-- 内容区域 -->
    <!--<div class="main-content">
        <div class="breadcrumbs-area clearfix">
        </div>
    </div>-->
    <div id="indexContainer" class="main-content container-fluid">

        <div class="row">
            <div class="col-lg-9">
                <div class="title-box style1">
                    <span class="title-box-title"><a class="style-black" href="/plan/goList">今日计划</a></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="title-box style7">
                    <span class="title-box-title"><a class="style-white" href="/spend/goList">我的消费</a></span>
                </div>
            </div>
            <div v-for="topPlan in topPlanList" class="col-lg-3">
                <div class="box">
                    <div class="box-content-title">{{topPlan.planCat.planCatName}}</div>
                    <div class="box-content">
                        <ul>
                            <li class="plan-item" v-for="plan in topPlan.planList" :title="plan.planContent">
                                📔&nbsp;{{plan.planName}}
                                <a href="javascript:void(0);" @click="openConfirmFinish(plan.planId)"><i class="fa fa-check"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <div class="box-content-title">合计消费：{{totalSpendMoney}} 元</div>
                    <div class="box-content">
                        <ul>
                            <li class="spend-item" v-for="spend in topSpendList" :title="spend.spendContent">
                                💰&nbsp;{{spend.spendName}} 【{{spend.spendMoney}}元】【{{spend.spendCatName}}】
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box style3">
                    <span class="title-box-title"><a class="style-white" href="/collect/goList">近期收藏</a></span>
                </div>
            </div>
            <div v-for="topCollection in topCollectionList" class="col-lg-3">
                <div class="box">
                    <div class="box-content-title">{{topCollection.collectionCat.collectionCatName}}</div>
                    <div class="box-content">
                        <ul>
                            <li v-for="collection in topCollection.collectionList"><a target="_blank" :href="collection.collectionUrl">⭐&nbsp;{{collection.collectionName}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="title-box style2">
                    <span class="title-box-title">近期笔记</span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box">
                    <!--<div class="box-content ">既许一人以偏爱，愿尽余生之慷慨</div>-->
                </div>
            </div>
            <div class="col-lg-3">
                <div class="box"></div>
            </div>
            <div class="col-lg-3">
                <div class="box"></div>
            </div>
            <div class="col-lg-3">
                <div class="box"></div>
            </div>
        </div>
        <div style="height: 30px;"></div>
    </div>
</div>

<!-- 公共 js -->
<div th:include="common/common_js"></div>
<div th:include="layout/component"></div>

<script>
    new Vue({
        el: '#indexContainer',
        data: {
            topCollectionIcon: ['🧡', '💜', '🤍', '💛', '🤎'],
            topCollectionList: {},
            topPlanList: {},
            topSpendList: {},
            totalSpendMoney: 0,
        },
        mounted: function () {
            this.refreshInit();
        },
        methods: {
            refreshInit() {
                let _this = this;
                _this.refreshTopCollection();
                _this.refreshTopPLan();
                _this.refreshTopSpend();
            },
            refreshTopCollection() {
                let _this = this;
                let url = "/topCollection";
                commonUtil.ajax(url, {}, function (res) {
                    _this.topCollectionList = res.data.topCollectionList;
                })
            },
            refreshTopPLan() {
                let _this = this;
                let url = "/topPlan";
                commonUtil.ajax(url, {}, function (res) {
                    _this.topPlanList = res.data.topPlanList;
                })
            },
            refreshTopSpend() {
                let _this = this;
                let url = "/topSpend";
                commonUtil.ajax(url, {}, function (res) {
                    _this.topSpendList = res.data.topSpendList;
                    _this.totalSpendMoney = res.data.totalSpendMoney;
                })
            },
            openConfirmFinish(planId) {
                // console.log(componentVm.confirm("完成确认", "是否完成该计划？"))
                let _this = this;
                if (confirm("是否完成该计划？")) {
                    commonUtil.ajax("/completePlan", {'planId': planId}, function (res) {
                        if (res && res.value) {
                            Qmsg.success(res.message);
                        }
                        _this.refreshTopPLan();
                    })
                }
            }
        }
    })

</script>

</body>

</html>
