.spend-total {
    /*padding-left: 28px;*/
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    /*color: #f8479b;*/
    /*color: #089cff;*/
    color: #e603ff;
    /*text-shadow: 0 0 20px #ff0278, 0 0 40px #ff0278;*/
}