<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">-->
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
    <title>计划目标</title>
    <!-- 公共 css -->
    <link th:replace="common/mobileCommon_css"/>
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        body {
            background-color: #f1f1f1;
        }

        [v-cloak] {
            display: none;
        }

        #app {
            padding-top: 20px;
        }

        .card {
            /*margin: 0 10px 20px 10px;*/
            margin-bottom: 20px;
            padding: 0 10px;
            border-radius: 10px;
            box-shadow: 0 5px 15px rgba(212, 212, 212, 0.5);
        }

        .plan .week-label {
            background-color: #16b7ff;
            padding: 3px 15px;
            margin-top: 10px;
            color: #FFFFFF;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(224, 224, 224, 0.5);
        }

        .plan .day-label {
            background-color: #f83390;
            padding: 3px 15px;
            margin-top: 10px;
            color: #FFFFFF;
            border-radius: 15px;
            box-shadow: 0 5px 15px rgba(224, 224, 224, 0.5);
        }

    </style>
</head>
<body>
<div class="page-container">
    <!-- 内容区域 -->
    <div id="app" class="container-fluid" v-cloak>
        <!--<div class="card">-->
        <!--    <div class="card-body">-->
        <!--        {{formatDay}}-->
        <!--    </div>-->
        <!--</div>-->

        <!-- 主体内容 -->
        <div class="mobile-content">
            <div class="card">
                <div class="card-body plan">
                    <!-- 日历 -->
                    <div class="row">
                        <div class="col calendar-title">{{year}}年 {{month + 1}}月</div>
                        <div class="col calendar-opera">
                            <div class="calendar-btn"><i class="fa fa-calendar-check-o" aria-hidden="true"></i></div>
                            <div class="calendar-btn" @click="preMonth()"><i class="fa fa-chevron-left"></i></div>
                            <div class="calendar-btn" @click="curMonth()">今</div>
                            <div class="calendar-btn" @click="nextMonth()"><i class="fa fa-chevron-right"></i></div>
                            <!--<button type="button" class="btn btn-primary btn-sm"><span>打卡</span></button>-->
                            <!--<button type="button" class="btn btn-primary btn-sm" @click="curMonth()"><span>今天</span></button>-->
                            <!--<button type="button" class="btn btn-primary btn-sm" @click="preMonth()"><span>上月</span></button>-->
                            <!--<button type="button" class="btn btn-primary btn-sm" @click="nextMonth()"><span>下月</span></button>-->
                        </div>
                    </div>
                    <div class="row">
                        <table class="xyu-calendar">
                            <thead>
                            <tr>
                                <td>日</td>
                                <td>一</td>
                                <td>二</td>
                                <td>三</td>
                                <td>四</td>
                                <td>五</td>
                                <td>六</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(calendarDateWeek,index) in calendarDateArr">
                                <td v-for="(calendarDateDay,index) in calendarDateWeek">
                                    <div class="calendar-month-content"
                                         :class="{'calendar-today':calendarDateDay.isToday, 'calendar-weekend':calendarDateDay.isWeekend}">
                                        <div class="calendar-month-solar">{{calendarDateDay.day}}</div>
                                        <!--<div class="calendar-month-lunar" v-if="calendarDateDay.day">阴历</div>-->
                                        <!--<div class="calendar-month-tag">事</div>-->
                                        <div class="calendar-month-sign" v-if="calendarDateDay.day">
                                            <i class="fa fa-check-circle"></i>
                                        </div>
                                        <div class="calendar-month-lack" v-if="calendarDateDay.isToday">
                                            <i class="fa fa-times-circle"></i>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body plan">
                    每周计划
                    <div class="row">
                        <div class="col week-label">练字3篇</div>
                    </div>
                    <div class="row">
                        <div class="col week-label">健身1小时</div>
                    </div>
                    <div class="row">
                        <div class="col week-label">学习10小时</div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body plan">
                    每日计划
                    <div class="row">
                        <div class="col day-label">练字1篇</div>
                    </div>
                    <div class="row">
                        <div class="col day-label">健身10分钟</div>
                    </div>
                    <div class="row">
                        <div class="col day-label">学习1小时</div>
                    </div>
                </div>
            </div>
        </div>

        <!-- 底部菜单 -->
        <div class="bottom-menu">
            <nav>
                <div class="nav-item selected">
                    <div class="icon"><i class="fa fa-home"></i></div>
                    <div class="label">主页</div>
                </div>
                <div class="nav-item " onclick="commonUtil.openToPlanWeek()">
                    <div class="icon"><i class="fa fa-calendar-minus-o"></i></div>
                    <div class="label">周计划</div>
                </div>
                <div class="nav-item" onclick="commonUtil.openToPlanDaily()">
                    <div class="icon"><i class="fa fa-book"></i></div>
                    <div class="label">日计划</div>
                </div>
                <div class="nav-item">
                    <div class="icon"><i class="fa fa-user"></i></div>
                    <div class="label">我的</div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!-- 公共 js -->
<div th:replace="common/mobileCommon_js"></div>
<script>
    /* 收藏分类 */
    new Vue({
        el: "#app",
        data: {
            formatDay: null,
            year: null,
            month: null, // 月份从0开始，真实使用需要+1
            day: null, // 月份从0开始，真实使用需要+1
            calendarDateArr: [],
        },
        mounted: function () {
            this.initAllData(); // 初始化参数
            // this.getCalendarDate(2023, 0);
            this.initCalendar();

        },
        methods: {
            // 初始化所有参数
            initAllData: function () {
                let date = new Date();
                this.formatDay = xyuCalendar.getFormatDate(date);
                this.year = date.getFullYear();
                this.month = date.getMonth();
                this.day = date.getDate();
            },
            // TODO 初始化日历
            initCalendar: function () {
                this.calendarDateArr = xyuCalendar.getCalendarDate();
            },
            // 今天
            curMonth: function () {
                this.initAllData();
                this.calendarDateArr = xyuCalendar.getCalendarDate(this.year, this.month);
            },
            // 上月
            preMonth: function () {
                let year = this.year;
                let month = --this.month;
                year = month >= 0 ? year : --year;
                month = month >= 0 ? month : (month + 12);
                this.year = year;
                this.month = month;
                console.log(year + "-" + (month + 1));
                this.calendarDateArr = xyuCalendar.getCalendarDate(year, month);
            },
            // 下月
            nextMonth: function () {
                let year = this.year;
                let month = ++this.month;
                year = month > 11 ? ++year : year;
                month = month > 11 ? (month - 12) : month;
                this.year = year;
                this.month = month;
                console.log(year + "-" + (month + 1));
                this.calendarDateArr = xyuCalendar.getCalendarDate(year, month);
            },
        }
    })
</script>
</body>
</html>