<!-- catAddModel -->
<div class="modal fade" id="incomeCatModal" tabindex="-1" aria-labelledby="incomeCatModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="incomeCatModalLabel">{{modalName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="incomeCatNameEdit"><span style="color: red">*</span>收入分类名称：</label>
                        <input type="text" class="form-control" id="incomeCatNameEdit" aria-describedby="emailHelp" v-model="incomeCatForm.incomeCatName" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <label for="orderNumEdit"><span style="color: red"></span>排序号：</label>
                        <input type="text" class="form-control" id="orderNumEdit" v-model="incomeCatForm.orderNum" autocomplete="off">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="saveIncomeCat()">确认</button>
            </div>
        </div>
    </div>
</div>
