<!-- 公共 css -->
<link rel="stylesheet" href="/plugs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugs/bootstrap/css/bootstrap-table.min.css">
<link rel="stylesheet" href="/plugs/awesome/css/font-awesome.min.css">
<!--<link rel="stylesheet" href="/plugs/awesome/css/fontawesome.min.css">-->
<!--<link rel="stylesheet" href="/plugs/awesome/css/regular.min.css">-->
<!--<link rel="stylesheet" href="/plugs/awesome/css/solid.min.css">-->
<link rel="stylesheet" href="/plugs/themify/css/themify-icons.css">
<link rel="stylesheet" href="/plugs/metismenu/css/metisMenu.css">
<link rel="stylesheet" href="/plugs/strdash/css/owl.carousel.min.css">
<link rel="stylesheet" href="/plugs/strdash/css/slicknav.min.css">
<!-- strdash 模板引用 css -->
<link rel="stylesheet" href="/plugs/strdash/css/typography.css">
<link rel="stylesheet" href="/plugs/strdash/css/default-css.css">
<link rel="stylesheet" href="/plugs/strdash/css/styles.css">
<link rel="stylesheet" href="/plugs/strdash/css/responsive.css">
<!-- 消息插件 -->
<link rel="stylesheet" href="/plugs/message/css/message.css">
<!-- 日期插件 -->
<link rel="stylesheet" href="/plugs/flatpickr/css/flatpickr.min.css">
<!-- Vue下拉树 -->
<link rel="stylesheet" href="/plugs/vue-treeselect/css/vue-treeselect.min.css">
<!-- Markdown 插件 -->
<link rel="stylesheet" href="/plugs/editor/css/editormd.css">
<link rel="stylesheet" href="/plugs/editor/css/editormd.min.css">
<link rel="stylesheet" href="/plugs/editor/css/editormd.preview.css">
<link rel="stylesheet" href="/plugs/editor/css/editormd.preview.min.css">
<!-- 自定义通用 css -->
<link rel="stylesheet" href="/css/common.css">