<!-- 公共 css -->
<link rel="stylesheet" href="plugs/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="plugs/awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="plugs/themify/css/themify-icons.css">
<link rel="stylesheet" href="plugs/metismenu/css/metisMenu.css">
<link rel="stylesheet" href="plugs/strdash/css/owl.carousel.min.css">
<link rel="stylesheet" href="plugs/strdash/css/slicknav.min.css">
<!-- strdash 模板引用 css -->
<link rel="stylesheet" href="plugs/strdash/css/typography.css">
<link rel="stylesheet" href="plugs/strdash/css/default-css.css">
<link rel="stylesheet" href="plugs/strdash/css/styles.css">
<link rel="stylesheet" href="plugs/strdash/css/responsive.css">