<!-- 公共 js -->
<script src="/plugs/jquery/jquery-2.2.4.min.js"></script>
<script src="/plugs/bootstrap/js/popper.min.js"></script>
<script src="/plugs/bootstrap/js/bootstrap.min.js"></script>
<script src="/plugs/bootstrap/js/bootstrap-table.min.js"></script>
<script src="/plugs/vue/vue@2.6.14/vue.min.js"></script>
<!-- 全屏插件 -->
<script src="/plugs/strdash/js/owl.carousel.min.js"></script>
<!-- 菜单滚动条插件 -->
<script src="/plugs/metismenu/js/metisMenu.min.js"></script>
<script src="/plugs/jquery/jquery.slimscroll.min.js"></script>
<!-- 消息提示 -->
<script src="/plugs/message/js/message.min.js"></script>
<!-- 本地公共方法 -->
<script src="/js/mobileCommon.js"></script>
<script src="/js/xyuCalendar.js"></script>
<!-- 本地请求状态码 -->
<script src="/js/httpRequest.js"></script>

