<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>计划</title>
    <!-- 公共 css -->
    <link th:replace="common/common_css"/>
</head>
<body>
<div class="page-container ">
    <div th:replace="layout/sidebar"></div>
    <div th:replace="layout/topMenu"></div>

    <!-- 内容区域 -->
    <div class="container-fluid">
        <div id="planContainer">
            <div th:replace="pageedit/plan/planadd"></div>
            <div th:replace="pageedit/plan/statusedit"></div>

            <div class="row comm-operate">
                <button class="btn btn-outline-primary btn-sm" @click="openPlanAdd()"><i class="fa fa-plus-square"></i>&nbsp;
                    新增计划
                </button>
            </div>

            <form class="form-inline form-search " onsubmit="return false;">
                <div class="form-group col-sm-3 ">
                    <label for="planName" class="col-form-label ">计划名称:</label>
                    <input type="text" class="form-control form-control-sm" id="planName" v-model="planQuery.planName" placeholder="" autocomplete="off"
                           @keyup.enter="refreshPlanList()">
                </div>
                <div class="form-group col-sm-3 ">
                    <label for="planCatName">计划分类:</label>
                    <select class="form-control form-control-sm" id="planCatName" v-model="planQuery.planCatId">
                        <option value="-1">全部</option>
                        <option v-for="planCat in planCatList" :value="planCat.planCatId">{{planCat.planCatName}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-3 ">
                    <label for="planStatus">执行状态:</label>
                    <select class="form-control form-control-sm" id="planStatus" v-model="planQuery.status">
                        <option value="-1">全部</option>
                        <option v-for="tableStatus in tableStatusList" :value="tableStatus.statusCode">{{tableStatus.statusMessage}}</option>
                    </select>
                </div>
                <div class="form-group col-sm-2 ">
                    <button type="button" class="btn btn-outline-primary btn-sm" @click="refreshPlanList()">搜索</button>
                </div>
            </form>

            <table class="table table-hover table-striped comm-table">
                <thead class="thead-dark">
                <tr>
                    <th width="60">序号</th>
                    <th width="180">计划名称</th>
                    <th width="100">计划分类</th>
                    <th width="200">计划内容</th>
                    <th width="80">执行状态</th>
                    <th width="60">状态变更</th>
                    <th width="60">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(plan, index) in planList">
                    <th>{{index + 1}}</th>
                    <th>{{plan.planName}}</th>
                    <th>{{plan.planCatName}}</th>
                    <th :title="plan.planContent">{{plan.planContent | ellipsis}}</th>
                    <th><span class="status circle" :class="'table-status-' + plan.status">{{plan.statusMessage}}</span></th>
                    <th class="table-operate">
                        <a href="#" title="配置" @click="openStatusEdit(plan.planId, plan.status)"><i class="fa fa-retweet"></i></a>
                    </th>
                    <th class="table-operate">
                        <a href="#" title="修改" @click="openPlanEdit(plan.planId)"><i class="fa fa-pencil"></i></a>
                        <a href="#" title="删除"><i class="fa fa-trash-o"></i></a>
                    </th>
                </tr>
                </tbody>
            </table>

            <!-- 用于分页拼接条件参数 -->
            <form id="queryForm">
                <input hidden name="planName" v-model="planQuery.planName">
                <input hidden name="planCatId" v-model="planQuery.planCatId">
                <input hidden name="status" v-model="planQuery.status">
            </form>
        </div>
        <div th:include="common/common_js"></div>
        <div th:replace="layout/pagnation"></div>
    </div>
</div>

<!-- 公共 js -->
<!--<div th:include="common/common_js"></div>-->
<script type="text/javascript" src="/js/pages/plan.js"></script>
</body>
</html>