<!-- 侧边栏 -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="/index">
                <!-- <img src="images/icon/logo.png" alt="logo"> -->
                <h3 style="color: #FFFFFF;">小羽网站</h3>
            </a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <!-- ti-dashboard -->
                        <a href="/index"><i class="fa fa-home"></i><span>个人主页</span></a>
                    </li>
                    <li>
                        <!-- ti-pie-chart -->
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-calendar"></i><span>日历管理</span></a>
                        <ul class="collapse">
                            <li id="noteCalendar"><a href="/calendar/openNoteCalendar">笔记日历</a></li>
                            <li id="collectionCalendar"><a href="/calendar/openCollectionCalendar">收藏日历</a></li>
                            <li id="planCalendar"><a href="/calendar/openPlanCalendar">计划日历</a></li>
                            <li id="timeCalendar"><a href="/calendar/openTimeCalendar">时间记录日历</a></li>
                            <li id="spendCalendar"><a href="/calendar/openSpendCalendar">收入与消费日历</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- ti-layout-sidebar-left -->
                        <a href="javascript:void(0)" aria-expanded="true"><i
                                class="fa fa-cogs"></i><span>系统管理</span></a>
                        <ul class="collapse">
                            <li id="userList"><a href="/user/goList">用户管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- ti-pie-chart -->
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-pencil-square-o"></i><span>笔记管理</span></a>
                        <ul class="collapse">
                            <li id="noteCatList"><a href="/note/cat/goList">笔记分类</a></li>
                            <li id="noteList"><a href="/note/goList">笔记列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-star"></i><span>收藏管理</span></a>
                        <ul class="collapse">
                            <li id="collectionCatList"><a href="/collect/cat/goList">收藏分类</a></li>
                            <li id="collectionList"><a href="/collect/goList">收藏列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-tasks"></i><span>计划管理</span></a>
                        <ul class="collapse">
                            <li id="planCatList"><a href="/plan/cat/goList">计划分类</a></li>
                            <li id="planList"><a href="/plan/goList">计划列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-credit-card"></i><span>消费管理</span></a>
                        <ul class="collapse">
                            <li id="spendCatList"><a href="/spend/cat/goList">消费分类</a></li>
                            <li id="spendList"><a href="/spend/goList">消费列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-key"></i><span>收入管理</span></a>
                        <ul class="collapse">
                            <li id="incomeCatList"><a href="/income/cat/goList">收入分类</a></li>
                            <li id="incomeList"><a href="/income/goList">收入列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-clock-o"></i><span>时间管理</span></a>
                        <ul class="collapse">
                            <li id="timeRecordList"><a href="/timeRecord/goList">时间记录</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-clock-o"></i><span>文件管理</span></a>
                        <ul class="collapse">
                            <li id="fileCat"><a href="#">文件分类</a></li>
                            <li id="fileList"><a href="#">文件列表</a></li>
                        </ul>
                    </li>
                    <!--<li>-->
                    <!--    <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-graduation-cap"></i><span>考试管理</span></a>-->
                    <!--    <ul class="collapse">-->
                    <!--        <li>-->
                    <!--            <a href="javascript:void(0)" aria-expanded="true"><span>试题库</span></a>-->
                    <!--            <ul class="collapse">-->
                    <!--                <li><a href="javascript:void(0);">题目分类</a></li>-->
                    <!--                <li><a href="javascript:void(0);">题目列表</a></li>-->
                    <!--            </ul>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="javascript:void(0)" aria-expanded="true"><span>试卷库</span></a>-->
                    <!--            <ul class="collapse">-->
                    <!--                <li><a href="javascript:void(0)">试卷分类</a></li>-->
                    <!--                <li><a href="javascript:void(0)">试卷列表</a></li>-->
                    <!--            </ul>-->
                    <!--        </li>-->
                    <!--        <li>-->
                    <!--            <a href="javascript:void(0)" aria-expanded="true"><span>答卷库</span></a>-->
                    <!--            <ul class="collapse">-->
                    <!--                <li><a href="javascript:void(0)">答卷分类</a></li>-->
                    <!--                <li><a href="javascript:void(0)">答卷列表</a></li>-->
                    <!--            </ul>-->
                    <!--        </li>-->
                    <!--    </ul>-->
                    <!--</li>-->
                </ul>
            </nav>
        </div>
    </div>
</div>