<!-- 侧边栏 -->
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="/index">
                <!-- <img src="images/icon/logo.png" alt="logo"> -->
                <h3 style="color: #FFFFFF;">小羽网站</h3>
            </a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">
                    <li>
                        <a href="/index"><i class="ti-dashboard"></i><span>主页</span></a>
                    </li>
                    <li>
                        <!-- ti-layout-sidebar-left -->
                        <a href="javascript:void(0)" aria-expanded="true"><i
                                class="fa fa-cogs"></i><span>系统管理</span></a>
                        <ul class="collapse">
                            <li id="userList"><a href="/user/goList">用户管理</a></li>
                        </ul>
                    </li>
                    <li>
                        <!-- ti-pie-chart -->
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-pencil-square-o"></i><span>笔记管理</span></a>
                        <ul class="collapse">
                            <li id="noteCatList"><a href="/note/cat/goList">笔记分类</a></li>
                            <li id="noteList"><a href="/note/goList">笔记列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-star"></i><span>收藏管理</span></a>
                        <ul class="collapse">
                            <li id="collectionCatList"><a href="/collect/cat/goList">收藏分类</a></li>
                            <li id="collectionList"><a href="/collect/goList">收藏列表</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-tasks"></i><span>计划管理</span></a>
                        <ul class="collapse">
                            <li id="planCatList"><a href="/plan/cat/goList">计划分类</a></li>
                            <li id="planList"><a href="/plan/goList">计划列表</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>