<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>消费分类</title>
    <!-- 公共 css -->
    <link th:replace="common/common_css"/>
</head>
<body>
<div class="page-container">
    <div th:replace="layout/sidebar"></div>
    <div th:replace="layout/topMenu"></div>

    <!-- 内容区域 -->
    <div id="spendCatContainer" class="container-fluid">
        <div th:replace="pageedit/spend/spendcatadd"></div>

        <div class="row comm-operate">
            <button class="btn btn-outline-primary btn-sm" @click="openSpendCatAdd()"><i class="fa fa-plus-square"></i>&nbsp;
                新增消费分类
            </button>
        </div>

        <form class="form-inline form-search " onsubmit="return false;">
            <div class="form-group col-sm-3 ">
                <label for="spendCatName" class="col-form-label ">消费分类名称:&nbsp;&nbsp;</label>
                <input type="text" class="form-control form-control-sm" id="spendCatName" placeholder="" autocomplete="off" v-model="spendCatQuery.spendCatName"
                       @keyup.enter="refreshSpendCatList()">
            </div>
            <div class="form-group col-sm-2 ">
                <button type="button" class="btn btn-outline-primary btn-sm" @click="refreshSpendCatList()">搜索</button>
            </div>
        </form>

        <table class="table table-hover table-striped comm-table">
            <thead class="thead-dark">
            <tr>
                <th>序号</th>
                <th>消费分类名称</th>
                <th>排序号</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(spendCat, index) in spendCatList">
                <th>{{index + 1}}</th>
                <th>{{spendCat.spendCatName}}</th>
                <th>{{spendCat.orderNum}}</th>
                <th class="table-operate">
                    <a href="#" title="修改" @click="openSpendCatEdit(spendCat.spendCatId)"><i class="fa fa-pencil"></i></a>
                    <a href="#" title="删除"><i class="fa fa-trash-o"></i></a>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- 公共 js -->
<div th:replace="common/common_js"></div>
<script type="text/javascript" src="/js/pages/spendcat.js"></script>
</body>
</html>