/*搜索栏*/
.comm-form-search {
    margin: 10px 0 10px 0;
}

.comm-form-search label {
    margin: 0px 20px 0px 0px;
}

.comm-form-search input {
    height: 38px;
    width: 250px !important;
}

.comm-search-item {
    padding: 0 0 0 0;
}

.comm-form-item {
    padding: 0 0 0 0 !important;
    margin: 0 0 20px 0 !important;
}

.comm-form-item label span {
    text-align: left;
    width: 100px !important;
}

.comm-form-item input {
    width: 250px !important;
}

.comm-form-item textarea {
    width: 70% !important;
    height: 120px;
}

.form-search {
    margin-top: 10px;
}

.form-search-label label {
    padding-right: 10px;
}


/*操作按钮区域*/
.comm-operate {
    margin: 10px 0 0 0;
    /*padding: 0 0 10px 0;*/
    /*border-bottom: 1px solid #c2f6f2;*/
}

.comm-operate-inner {
    margin: 0 0 20px 0;

}

/* 表格区域 */
.comm-table {
    margin-top: 10px;
}

/* 顶部菜单 */

/* 头像 */
.comm-avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-right: 12px;
}

.border-rebeccapurple {
    border: 1px solid rebeccapurple;
}

.border-red {
    border: 1px solid red;
}

.border-aqua {
    border: 1px solid aqua;
}

.border-black {
    border: 1px solid black;
}

.border-blue {
    border: 1px solid blue;
}