<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.dao.PlanMapper">

    <!-- ************************* 计划分类 ************************* -->
    <sql id="plan_cat_query_condition">
        <if test="planCatName != null and planCatName != ''">
            and planCatName like concat('%',concat(#{planCatName},'%'))
        </if>
        <if test="createBy != null and createBy != ''">
            and createBy = #{createBy}
        </if>
    </sql>
    <sql id="plan_cat_update_condition">
        <set>
            <if test="planCatName != null and planCatName != ''">
                planCatName = #{planCatName},
            </if>
            <if test="orderNum >= 0">
                orderNum = #{orderNum},
            </if>
        </set>
    </sql>

    <select id="queryPlanCatList" parameterType="planCatBean" resultType="planCatBean">
        select *
        from plan_cat
        where 1=1
        <include refid="plan_cat_query_condition"></include>
        order by orderNum desc
        limit #{start}, #{pageCount}
    </select>

    <insert id="addPlanCat" parameterType="planCatBean">
        insert into plan_cat(planCatName, orderNum, createDt, createBy)
        values (#{planCatName}, #{orderNum}, #{createDt}, #{createBy})
    </insert>

    <select id="queryPlanCatDetailById" resultType="planCatBean">
        select planCatId, planCatName, orderNum
        from plan_cat
        where planCatId = #{planCatId}
    </select>

    <update id="updatePlanCat" parameterType="planCatBean">
        update plan_cat
        <include refid="plan_cat_update_condition"></include>
        where planCatId = #{planCatId}
    </update>

    <delete id="deletePlanCatById">
        delete
        from plan_cat
        where planCatId = #{planCatId}
    </delete>

    <!-- ************************* 计划主表 ************************* -->
    <sql id="plan_query_condition">
        <if test="planName != null and planName != ''">
            and pn.planName like concat('%',concat(#{planName},'%'))
        </if>
        <if test="planCatId != null and planCatId != -1 ">
            and pn.planCatId = #{planCatId}
        </if>
        <if test="status != null and status != -1 ">
            and pn.status = #{status}
        </if>
        <if test="planContent != null and planContent != ''">
            and pn.planContent like concat('%',concat(#{planContent},'%'))
        </if>
        <if test="planStartDt != null">
            and pn.planStartDt = #{planStartDt}
        </if>
        <if test="planEndDt != null">
            and pn.planEndDt = #{planEndDt}
        </if>
        <if test="createBy != null and createBy != ''">
            and pn.createBy = #{createBy}
        </if>
    </sql>
    <sql id="plan_update_condition">
        <set>
            <if test="planName != null and planName != ''">
                planName = #{planName},
            </if>
            <if test="planCatId > 0">
                planCatId = #{planCatId},
            </if>
            <if test="planContent != null and planContent != ''">
                planContent = #{planContent},
            </if>
            <if test="planStartDt != null">
                planStartDt = #{planStartDt},
            </if>
            <if test="planEndDt != null">
                planEndDt = #{planEndDt},
            </if>
            <if test="planFinishedDt != null">
                planFinishedDt = #{planFinishedDt},
            </if>
            <if test="updateDt != null">
                updateDt = #{updateDt},
            </if>
            <if test="updateBy != null and updateBy != ''">
                updateBy = #{updateBy},
            </if>
            remark = #{remark},
        </set>
    </sql>

    <select id="queryPlanListCount" parameterType="planBean" resultType="java.lang.Integer">
        select count(1)
        from plan pn
        where 1=1
        <include refid="plan_query_condition"></include>
    </select>

    <select id="queryPlanList" parameterType="planBean" resultType="planVo">
        select pn.planId,
        pn.planName,
        pn.planCatId,
        pn.planContent,
        pn.planStartDt,
        pn.planEndDt,
        pn.status,
        pn.planFinishedDt,
        pn.updateDt,
        pn.updateBy,
        pn.createDt,
        pn.createBy,
        pn.remark,
        pct.planCatName
        from plan pn
        inner join plan_cat pct on pn.planCatId = pct.planCatId
        where 1=1
        <include refid="plan_query_condition"></include>
        order by (CASE
        WHEN pn.status = 2 THEN 0
        WHEN pn.status = 0 THEN 1
        WHEN pn.status = 5 THEN 2
        WHEN pn.status = 3 THEN 3
        WHEN pn.status = 4 THEN 4
        WHEN pn.status = 8 THEN 5
        ELSE 6 END) asc,
        pct.orderNum desc, pn.planCatId, pn.createDt desc limit #{start}, #{pageCount}
    </select>

    <insert id="addPlan" parameterType="planBean">
        insert into plan(planId, planName, planCatId, planContent, planStartDt, planEndDt, status, planFinishedDt, remark,
                         updateDt, updateBy, createDt, createBy)
        values (#{planId}, #{planName}, #{planCatId}, #{planContent}, #{planStartDt}, #{planEndDt}, #{status}, #{planFinishedDt}, #{remark},
                #{updateDt}, #{updateBy}, #{createDt}, #{createBy})
    </insert>

    <select id="queryPlanDetailById" resultType="planBean">
        select planId,
               planName,
               planCatId,
               planContent,
               planStartDt,
               planEndDt,
               planFinishedDt,
               remark
        from plan
        where planId = #{planId}
    </select>

    <update id="updatePlan" parameterType="planBean">
        update plan
        <include refid="plan_update_condition"></include>
        where planId = #{planId}
    </update>

    <update id="updateStatusById">
        update plan
        set status = #{status}
        where planId = #{planId}
    </update>

    <delete id="deletePlanById">
        delete
        from plan
        where planId = #{planId}
    </delete>

</mapper>