<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaoyu.dao.SpendMapper">

    <!-- ************************* 消费分类 ************************* -->
    <sql id="spend_cat_query_condition">
        <if test="spendCatName != null and spendCatName != ''">
            and spendCatName like concat('%',concat(#{spendCatName},'%'))
        </if>
        <if test="createBy != null and createBy != ''">
            and createBy = #{createBy}
        </if>
    </sql>
    <sql id="spend_cat_update_condition">
        <set>
            <if test="spendCatName != null and spendCatName != ''">
                spendCatName = #{spendCatName},
            </if>
            <if test="orderNum >= 0">
                orderNum = #{orderNum},
            </if>
        </set>
    </sql>

    <select id="querySpendCatList" parameterType="spendCatBean" resultType="spendCatBean">
        select *
        from spend_cat
        where 1=1
        <include refid="spend_cat_query_condition"></include>
        order by orderNum desc
        limit #{start}, #{pageCount}
    </select>

    <insert id="addSpendCat" parameterType="spendCatBean">
        insert into spend_cat(spendCatName, orderNum, createDt, createBy)
        values (#{spendCatName}, #{orderNum}, #{createDt}, #{createBy})
    </insert>

    <select id="querySpendCatDetailById" resultType="spendCatBean">
        select spendCatId, spendCatName, orderNum
        from spend_cat
        where spendCatId = #{spendCatId}
    </select>

    <update id="updateSpendCat" parameterType="spendCatBean">
        update spend_cat
        <include refid="spend_cat_update_condition"></include>
        where spendCatId = #{spendCatId}
    </update>

    <delete id="deleteSpendCatById">
        delete
        from spend_cat
        where spendCatId = #{spendCatId}
    </delete>

    <!-- ************************* 消费主表 ************************* -->
    <sql id="spend_query_condition">
        <if test="spendName != null and spendName != ''">
            and sd.spendName like concat('%',concat(#{spendName},'%'))
        </if>
        <if test="spendCatId != null and spendCatId != -1 ">
            and sd.spendCatId = #{spendCatId}
        </if>
        <if test="spendMoney != null and spendMoney != -1">
            <choose>
                <when test="spendMoney != null and spendMoney != -1 and spendMoney == 1001">
                    and sd.spendMoney >= 1000
                </when>
                <otherwise>
                    and sd.spendMoney <![CDATA[ <= ]]> #{spendMoney}
                </otherwise>
            </choose>
        </if>

        <if test="spendContent != null and spendContent != ''">
            and sd.spendContent like concat('%',concat(#{spendContent},'%'))
        </if>
        <if test="spendStartDate != null and spendStartDate != ''">
            and sd.spendDate <![CDATA[ >= ]]> #{spendStartDate}
        </if>
        <if test="spendEndDate != null and spendEndDate != ''">
            and sd.spendDate <![CDATA[ <= ]]> #{spendEndDate}
        </if>
        <if test="createBy != null and createBy != ''">
            and sd.createBy = #{createBy}
        </if>
    </sql>
    <sql id="spend_update_condition">
        <set>
            <if test="spendName != null and spendName != ''">
                spendName = #{spendName},
            </if>
            <if test="spendCatId > 0">
                spendCatId = #{spendCatId},
            </if>
            <if test="spendMoney != null and spendMoney != ''">
                spendMoney = #{spendMoney},
            </if>
            <if test="spendDate != null">
                spendDate = #{spendDate},
            </if>
            spendContent = #{spendContent},
            remark = #{remark},
        </set>
    </sql>

    <select id="querySpendListCount" parameterType="spendQuery" resultType="java.lang.Integer">
        select count(1)
        from spend sd
        where 1=1
        <include refid="spend_query_condition"></include>
    </select>

    <select id="querySpendList" parameterType="spendQuery" resultType="spendVo">
        select sd.spendId,
        sd.spendName,
        sd.spendCatId,
        sd.spendMoney,
        sd.spendDate,
        sd.spendContent,
        sd.createDt,
        sd.createBy,
        sd.remark,
        sdt.spendCatName
        from spend sd
        inner join spend_cat sdt on sd.spendCatId = sdt.spendCatId
        where 1=1
        <include refid="spend_query_condition"></include>
        order by sd.spendDate desc limit #{start}, #{pageCount}
    </select>

    <insert id="addSpend" parameterType="spendBean">
        insert into spend(spendName, spendCatId, spendMoney, spendDate, spendContent, createDt, createBy, remark)
        values (#{spendName}, #{spendCatId}, #{spendMoney}, #{spendDate}, #{spendContent}, #{createDt}, #{createBy}, #{remark})
    </insert>

    <select id="querySpendDetailById" resultType="spendVo">
        select spendId,
               spendName,
               spendCatId,
               spendMoney,
               spendDate,
               spendContent,
               remark
        from spend
        where spendId = #{spendId}
    </select>

    <update id="updateSpend" parameterType="spendBean">
        update spend
        <include refid="spend_update_condition"></include>
        where spendId = #{spendId}
    </update>

    <delete id="deleteSpendById">
        delete
        from spend
        where spendId = #{spendId}
    </delete>

    <select id="queryTotalSpendMoney" parameterType="spendBean" resultType="java.math.BigDecimal">
        select ifnull(sum(sd.spendMoney), 0)
        from spend sd
        where 1 = 1
        <include refid="spend_query_condition"></include>
    </select>

    <!-- ************************* 子消费表 ************************* -->
    <sql id="spend_child_query_condition">
        <if test="spendId > 0">
            and sdc.spendId = #{spendId}
        </if>
        <if test="spendChildName != null and spendChildName != ''">
            and sdc.spendChildName like concat('%',concat(#{spendChildName},'%'))
        </if>
        <if test="spendCatId != null and spendCatId != -1 ">
            and sdc.spendCatId = #{spendCatId}
        </if>
        <if test="spendChildMoney != null and spendChildMoney != -1">
            <choose>
                <when test="spendChildMoney != null and spendChildMoney != -1 and spendChildMoney == 1001">
                    and sdc.spendChildMoney >= 1000
                </when>
                <otherwise>
                    and sdc.spendChildMoney <![CDATA[ <= ]]> #{spendChildMoney}
                </otherwise>
            </choose>
        </if>

        <if test="spendChildContent != null and spendChildContent != ''">
            and sdc.spendChildContent like concat('%',concat(#{spendChildContent},'%'))
        </if>
        <if test="spendChildStartDate != null and spendChildStartDate != ''">
            and sdc.spendChildDate <![CDATA[ >= ]]> #{spendChildStartDate}
        </if>
        <if test="spendChildEndDate != null and spendChildEndDate != ''">
            and sdc.spendChildDate <![CDATA[ <= ]]> #{spendChildEndDate}
        </if>
    </sql>
    <sql id="spend_child_update_condition">
        <set>
            <if test="spendChildName != null and spendChildName != ''">
                spendChildName = #{spendChildName},
            </if>
            <if test="spendCatId > 0">
                spendCatId = #{spendCatId},
            </if>
            <if test="spendChildMoney != null and spendChildMoney != ''">
                spendChildMoney = #{spendChildMoney},
            </if>
            <if test="spendChildDate != null">
                spendChildDate = #{spendChildDate},
            </if>
            spendChildContent = #{spendChildContent},
            remark = #{remark},
        </set>
    </sql>

    <select id="querySpendChildListCount" parameterType="spendChildQuery" resultType="java.lang.Integer">
        select count(1)
        from spend_child sdc
        where 1=1
        <include refid="spend_child_query_condition"></include>
    </select>

    <select id="querySpendChildList" parameterType="spendChildQuery" resultType="spendChildVo">
        select sdc.spendChildId,
        sdc.spendChildName,
        sdc.spendId,
        sdc.spendCatId,
        sdc.spendChildMoney,
        sdc.spendChildDate,
        sdc.spendChildContent,
        sdc.createDt,
        sdc.createBy,
        sdc.remark,
        sdct.spendCatName
        from spend_child sdc
        inner join spend_cat sdct on sdc.spendCatId = sdct.spendCatId
        where 1=1
        <include refid="spend_child_query_condition"></include>
        order by sdc.spendChildDate desc
    </select>

    <insert id="addSpendChild" parameterType="spendChildBean">
        insert into spend_child(spendId, spendChildName, spendCatId, spendChildMoney, spendChildDate, spendChildContent, createDt, createBy, remark)
        values (#{spendId}, #{spendChildName}, #{spendCatId}, #{spendChildMoney}, #{spendChildDate}, #{spendChildContent}, #{createDt}, #{createBy}, #{remark})
    </insert>

    <select id="querySpendChildDetailById" resultType="spendChildVo">
        select spendChildId,
               spendChildName,
               spendCatId,
               spendChildMoney,
               spendChildDate,
               spendChildContent,
               remark
        from spend_child
        where spendChildId = #{spendChildId}
    </select>

    <update id="updateSpendChild" parameterType="spendChildBean">
        update spend_child
        <include refid="spend_child_update_condition"></include>
        where spendChildId = #{spendChildId}
    </update>

    <delete id="deleteSpendChildById">
        delete
        from spend_child
        where spendChildId = #{spendChildId}
    </delete>

    <select id="queryTotalSpendChildMoney" parameterType="spendChildBean" resultType="java.math.BigDecimal">
        select ifnull(sum(sdc.spendChildMoney), 0)
        from spend_child sdc
        where 1 = 1
        <include refid="spend_child_query_condition"></include>
    </select>

</mapper>