<!-- catAddModel -->
<div class="modal fade" id="noteModal" tabindex="-1" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">{{modalName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row form-inline">
                        <div class="form-group col-md-4">
                            <label for="noteNameEdit"><span style="color: red">*</span>笔记名称：</label>
                            <input type="text" class="form-control" style="width:80%; height: 36px;" id="noteNameEdit" aria-describedby="emailHelp" v-model="noteForm.noteName" autocomplete="off">
                        </div>
                        <div class="form-group col-md-4">
                            <label style="width: 20%;"><span style="color: red">*</span>笔记分类:</label>
                            <div style="width: 78%; margin-top: 5px; padding: 0px;text-align: left;height: 44px;">
                                <treeselect v-model="noteForm.noteCatId" :multiple="false" :options="noteCatTree"
                                            placeholder="" :always-open="false"/>
                            </div>
                        </div>
                        <!--<div class="form-group line">-->
                        <!--    <label for="noteDateEdit"><span style="color: red">*</span>笔记时间：</label>-->
                        <!--    <input type="text" class="form-control datetime" id="noteDateEdit" v-model="noteForm.noteDate" autoClear autocomplete="off">-->
                        <!--    <a class="date-line-clear" @click="noteForm.noteDate = null;">-->
                        <!--        <i class="fa fa-times-circle-o"></i>-->
                        <!--    </a>-->
                        <!--</div>-->
                        <div class="form-group col-md-12">
                            <label for="noteContentEdit"><span style="color: red">*</span>笔记内容：</label>
                            <div id="noteContentEditor" style="margin-top: 10px;">
                                <textarea type="text" id="noteContentEdit" style="display:none;" v-model="noteForm.noteContent"></textarea>
                            </div>
                            <!--<textarea type="text" class="form-control" id="noteContentEdit" v-model="noteForm.noteContent" rows="8"></textarea>-->
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" @click="saveNote()">确认</button>
            </div>
        </div>
    </div>
</div>
